body{
    margin: 10px;
    background-color: darkcyan;
}

h1 {
    color: blue;
    text-align: center;
}

.input-group { 
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    border: 3px solid blue;
    padding: 10px;
    margin-bottom: 10px;

}

.input{
    text-align: center;
    padding: 10px;

}
.searchBtn{
    margin: 10px;
    border-collapse: separate;
    padding: 10px;
    align-items: center;
    background-color: cornflowerblue;
}

h3{
    text-align: center;
    align-content: center;
    align-items: center;
}
.currentWeather, .fiveDayWeather{
    padding: 15px;
    margin: 10px;
    border: 3px solid blue;
    align-items: center;
    align-content: center;
    text-align: center;
}

.icon{
    height: 100px;
    width: 100px;
}

